<div class="topBar">
    <h1>Budget Calculator</h1>

</div>

<section class="amount">
    <h2 [ngClass]="{'red': totalBudget < 0, 'green': totalBudget > 0}">{{ totalBudget }}</h2>
    

    
</section>

<section class="addItemSection">
    <div class="addItemContainer">
        <app-add-item-form style="padding: 20px;" (formSubmit)="addItem($event)"></app-add-item-form>
        
    </div>
</section>
<hr style="margin-top: 0; margin-left: 50px; margin-right: 50px; color: $green;">
<app-budget-item-list [budgetItems]="budgetItems" (delete)="deleteItem($event)"></app-budget-item-list>